<app-title [pages]="[{ path: '', label: 'Eventi' }]"></app-title>

<ul class="flex flex-col gap-6 overflow-hidden">
  @for (event of events(); track event.id) {
    <li class="relative overflow-hidden rounded-lg shadow">
      <img class="aspect-video w-full" [src]="event.props.imageUrl" alt="Immagine evento" />
      <div class="h-24 w-full"></div>
      <div class="absolute inset-0 flex h-full w-full bg-gradient-to-b from-transparent from-20% to-black to-70%"></div>
      <div class="absolute inset-0 flex h-full w-full flex-col gap-2 p-2">
        <div
          class="ml-auto flex h-12 w-12 flex-col items-center justify-center rounded bg-white/80 text-black shadow-md backdrop-blur">
          <p class="text-lg font-bold">{{ event.props.startDate | date: 'dd' }}</p>
          <p class="text-xs uppercase text-gray-700">
            {{ (event.props.startDate | date: 'MMMM')!.substring(0, 3) }}
          </p>
        </div>
        <div class="mt-auto flex flex-col overflow-hidden rounded-lg border border-black/50 p-2 shadow backdrop-blur">
          <p class="truncate text-xxs text-gray-400">{{ event.props.location }}</p>
          <p class="mb-2 truncate text-xl font-bold text-on-background">{{ event.props.name }}</p>
          <p class="mb-4 line-clamp-3 whitespace-pre-line break-words text-xs italic text-neutral-400">
            {{ event.props.description }}
          </p>
          <div class="flex gap-2">
            <fv-button class="basis-20" label="Modifica" [onClick]="goToUpdateEvent.bind(this, event.id)"></fv-button>
            <fv-button-outlined
              class="basis-20"
              label="Sfide"
              [onClick]="goToUpdateEventChallenges.bind(this, event.id)"></fv-button-outlined>
          </div>
        </div>
      </div>
    </li>
  }
</ul>

<fv-floating-button [execute]="executeFloatingButton.bind(this)"></fv-floating-button>
