<app-title [pages]="[{ path: '', label: 'Eventi' }]"></app-title>

<ul class="flex flex-col gap-6 overflow-hidden">
  @for (event of events(); track event.id) {
    <li class="relative overflow-hidden rounded-lg shadow">
      <img class="aspect-video w-full bg-surface" [src]="event.props.imageUrl" alt="Immagine evento" />
      <div class="h-24 w-full"></div>
      <div
        class="absolute inset-0 flex h-full w-full bg-gradient-to-b from-transparent from-20% to-primary-900 to-70%"></div>
      <div class="absolute inset-0 flex h-full w-full flex-col gap-2 p-2 shadow">
        <div class="ml-auto flex flex-col gap-1 text-primary-500">
          <div class="flex h-12 w-12 flex-col items-center justify-center rounded bg-white/80 shadow-md backdrop-blur">
            <p class="text-lg font-bold text-on-background">{{ event.props.startDate | date: 'dd' }}</p>
            <p class="text-xs uppercase">
              {{ (event.props.startDate | date: 'MMMM')!.substring(0, 3) }}
            </p>
          </div>
          <div
            class="flex w-12 flex-col items-center justify-center rounded bg-white/80 text-xxs shadow-md backdrop-blur">
            {{ event.props.code }}
          </div>
        </div>
        <div
          class="mt-auto flex flex-col overflow-hidden rounded-md border border-white/25 bg-white/5 p-2 shadow backdrop-blur">
          <p class="truncate text-xxs text-secondary-500">{{ event.props.location }}</p>
          <p class="mb-2 truncate text-xl font-bold text-white">{{ event.props.name }}</p>
          <p class="mb-4 line-clamp-3 whitespace-pre-line text-xs italic text-secondary-300">
            {{ event.props.description }}
          </p>
          <div class="flex shrink-0 gap-2 overflow-hidden">
            <fv-button
              class="basis-20"
              label="Modifica"
              twColor="secondary"
              [onClick]="goToUpdateEvent.bind(this, event.id)"></fv-button>
            <fv-button-outlined
              class="basis-20"
              label="Sfide"
              twColor="secondary"
              [onClick]="goToUpdateEventChallenges.bind(this, event.id)"></fv-button-outlined>
            <button
              class="rounded border border-secondary-600 px-2 text-secondary-600 hover:border-secondary-700 hover:text-secondary-700 active:border-secondary-800 active:text-secondary-800"
              (click)="goToUpdateEventTeams(event.id)">
              <fa-icon class="text-sm" [icon]="ICON_TEAM"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </li>
  }
</ul>

<fv-floating-button [execute]="executeFloatingButton.bind(this)"></fv-floating-button>
