:host {
  position: relative;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: '.' 'container_welcome';
  gap: var(--gap-m);
  padding: var(--padding-m);
  overflow: hidden;

  background-image: url('../../../assets/images/welcome1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container_welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap-m);
  color: #fff;

  p {
    text-align: center;
    font-size: 1.2rem; /* Font leggermente più grande */
    font-weight: 700; /* Maggiore enfasi */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Ombra per migliorare la leggibilità */
  }

  .container_buttons {
    width: 80%;

    display: flex;
    flex-direction: column;
    gap: var(--gap-m);
  }
}

.container_form {
  position: absolute;
  left: 0;
  bottom: -100vh;
  height: fit-content;
  width: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  justify-items: center;
  gap: calc(var(--gap-m) * 2);
  padding: calc(var(--padding-m) * 2);
  border-top-left-radius: calc(var(--padding-m) * 2);
  border-top-right-radius: calc(var(--padding-m) * 2);

  form {
    width: 100%;
    max-width: 600px;
    display: grid;
    grid-template-rows: repeat(3, min-content) 1fr;
    gap: var(--gap-m);
  }
}
