<div class="mb-8 flex flex-col gap-1 text-center text-on-background">
  <h3 class="text-3xl font-semibold text-white">Evento</h3>
  <p class="text-sm">Inserisci le informazioni dell'evento</p>
</div>

<form [formGroup]="eventForm" (ngSubmit)="addOrUpdateEvent()" class="flex w-full max-w-2xl flex-col gap-6">
  <fv-field name="name" label="Nome evento"></fv-field>

  <fv-text-area name="description" label="Descrizione"></fv-text-area>

  <fv-field name="location" label="Località"></fv-field>

  <fv-field name="startDate" label="Data di inizio" type="datetime-local"></fv-field>

  <fv-field name="endDate" label="Data di fine" type="datetime-local"></fv-field>

  <!-- Anteprima immagine -->
  <div class="flex w-full flex-col justify-center gap-1">
    <p class="block text-sm font-medium text-field-label-color">Immagine</p>
    @if (!imagePreview()) {
      <label
        for="event-image-upload"
        class="flex h-32 w-full cursor-pointer flex-col items-center justify-center rounded-lg border-2 border-dashed border-neutral-600 bg-neutral-800 text-neutral-600 hover:bg-neutral-900">
        <div class="flex flex-col items-center justify-center">
          <svg
            class="mb-4 h-8 w-8"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 16">
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
          </svg>
          <p class="text-sm">
            <span class="font-semibold">Carica immagine</span>
          </p>
        </div>
        <input
          id="event-image-upload"
          type="file"
          accept="image/png, image/jpeg"
          (change)="storageService.onImageChange($event, imagePreview, imageFile)"
          class="hidden" />
      </label>
    } @else {
      <img [src]="imagePreview()" alt="Anteprima immagine" class="rounded object-cover" />
    }
  </div>

  <fv-button
    class="mt-12"
    type="submit"
    [label]="event() ? 'Aggiorna' : 'Salva'"
    twColor="primary"
    [disabled]="eventForm.invalid || !imagePreview()"></fv-button>
</form>
