:host {
  display: block;
  margin-top: 3.5rem;
}

.container_form {
  width: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  justify-items: center;
  gap: var(--gap-m);
  padding: calc(var(--padding-m) * 2);
}
