<app-title
  [pages]="[
    { path: '../../events', label: 'Eventi' },
    { path: '', label: 'Evento' }
  ]">
</app-title>

<form [formGroup]="eventForm" (ngSubmit)="addOrUpdateEvent()" class="flex w-full max-w-2xl flex-col gap-6">
  <fv-field name="name" label="Nome evento"></fv-field>

  <fv-text-area name="description" label="Descrizione"></fv-text-area>

  <fv-field name="location" label="Località"></fv-field>

  <fv-field name="startDate" label="Data di inizio" type="datetime-local"></fv-field>

  <fv-field name="endDate" label="Data di fine" type="datetime-local"></fv-field>

  <!-- Anteprima immagine -->
  <div class="flex w-full flex-col justify-center gap-1">
    <p class="block text-sm font-medium text-field-label-color">Immagine</p>
    @if (!imagePreview()) {
      <label
        for="event-image-upload"
        class="flex h-32 w-full cursor-pointer flex-col items-center justify-center rounded-lg border-2 border-dashed border-neutral-600 bg-neutral-800 text-neutral-600 hover:bg-neutral-900">
        <div class="flex flex-col items-center justify-center gap-2">
          <fa-icon class="text-2xl" [icon]="ICON_UPLOAD"></fa-icon>
          <p class="text-sm font-bold">Carica immagine</p>
        </div>
        <input
          id="event-image-upload"
          type="file"
          accept="image/jpg, image/jpeg, image/png"
          (change)="onImageChange($event)"
          class="hidden" />
      </label>
    } @else {
      <div class="relative aspect-video w-full">
        <img
          class="w-full rounded border border-card-border object-cover"
          [src]="imagePreview()"
          alt="Immagine evento" />

        <label
          for="event-image-upload-update"
          class="absolute bottom-2 right-2 flex h-8 w-8 cursor-pointer items-center justify-center rounded-full border-2 border-card-border bg-surface text-on-surface hover:bg-neutral-500">
          <fa-icon [icon]="ICON_PEN"></fa-icon>
          <input
            id="event-image-upload-update"
            class="hidden"
            type="file"
            accept="image/jpg, image/jpeg, image/png"
            (change)="onImageChange($event)" />
        </label>
      </div>
    }
  </div>

  <div class="mt-8 flex gap-2">
    <fv-button
      class="flex-1"
      type="submit"
      [label]="event() ? 'Aggiorna' : 'Salva'"
      [disabled]="eventForm.invalid || !imagePreview()"></fv-button>
    @if (event(); as event) {
      <button
        type="button"
        class="rounded border border-rose-800 px-2 text-rose-800 hover:bg-rose-900/25 active:bg-rose-900/50"
        (click)="deleteEvent(event.id, event.props.startDate)">
        <fa-icon [icon]="ICON_TRASH"></fa-icon>
      </button>
    }
  </div>
</form>
