<div class="mb-4 flex flex-col gap-6">
  <div class="flex flex-col gap-4">
    <nav>
      <ol class="flex gap-2 text-xs text-neutral-400">
        <li>
          <a [routerLink]="['']"><fa-icon [icon]="ICON_HOME"></fa-icon></a>
        </li>
        <li><fa-icon [icon]="ICON_RIGHT"></fa-icon></li>
        <li class="font-medium text-primary-500">
          <a [routerLink]="['../settings']">Impostazioni</a>
        </li>
      </ol>
    </nav>
    <h1 class="text-3xl font-bold text-on-surface">Impostazioni</h1>
  </div>
  <div class="bord -mx-4 border-b border-neutral-700 px-4 text-on-surface">
    <div tabindex="-1" role="tablist">
      @for (tab of TABS; track tab.id) {
        <button
          [tabindex]="activeTab().id === tab.id ? 0 : -1"
          type="button"
          role="tab"
          class="rounded-t px-4 py-2 text-sm text-neutral-400 hover:bg-neutral-800"
          [ngClass]="{ 'text-on-surface border-b-2 border-primary-500 font-semibold': activeTab().id === tab.id }"
          (click)="activeTab.set(tab)">
          {{ tab.label }}
        </button>
      }
    </div>
  </div>
</div>

@switch (activeTab().id) {
  @case ('profile') {
    <div class="rounded-lg border border-card-border bg-surface p-4">
      <div class="-mx-4 border-b border-card-border px-4 pb-4">
        <p class="text-base font-semibold text-on-surface">Info personali</p>
        <p class="text-xs text-neutral-400">
          Personalizza il tuo profilo, mostra i tuoi successi e segui i tuoi progressi nelle sfide in discoteca
        </p>
      </div>
      <app-user-create class="pt-4"></app-user-create>
    </div>

    <button
      class="mt-12 w-full rounded border border-rose-600 px-8 py-2 text-xs font-semibold text-rose-600 hover:text-white"
      (click)="firebaseService.logout(true)">
      Esci
    </button>
  }
}
