<app-title [pages]="[{ path: '', label: 'Impostazioni' }]"></app-title>

<div class="bord -mx-4 border-b border-neutral-700 px-4 text-on-surface">
  <div tabindex="-1" role="tablist">
    @for (tab of TABS; track tab.id) {
      <button
        [tabindex]="activeTab().id === tab.id ? 0 : -1"
        type="button"
        role="tab"
        class="rounded-t px-4 py-2 text-sm text-neutral-400 hover:bg-neutral-800"
        [ngClass]="{ 'text-on-surface border-b-2 border-primary-500 font-semibold': activeTab().id === tab.id }"
        (click)="activeTab.set(tab)">
        {{ tab.label }}
      </button>
    }
  </div>
</div>

@switch (activeTab().id) {
  @case ('profile') {
    <div class="mt-4 rounded-lg border border-card-border bg-surface p-4">
      <div class="-mx-4 border-b border-card-border px-4 pb-4">
        <p class="text-base font-semibold text-on-surface">Info personali</p>
        <p class="text-xs text-neutral-400">
          Personalizza il tuo profilo, mostra i tuoi successi e segui i tuoi progressi nelle sfide in discoteca
        </p>
      </div>
      <app-user-create class="mt-4"></app-user-create>
    </div>

    <fv-button-outlined class="mt-12" label="Esci" twColor="rose" [onClick]="logout.bind(this)"></fv-button-outlined>
  }
}
