<app-title
  [pages]="[
    { path: '../../challenges', label: 'Sfide' },
    { path: '', label: 'Sfida' }
  ]">
</app-title>

<form [formGroup]="challengeForm" (ngSubmit)="addOrUpdateChallenge()" class="flex w-full max-w-2xl flex-col gap-6">
  <fv-field name="name" label="Nome sfida"></fv-field>

  <fv-text-area name="description" label="Descrizione"></fv-text-area>

  <div class="flex w-full flex-col gap-1">
    <label for="type" class="block text-sm font-medium text-field-label-color"> Tipo </label>
    <button class="w-full" type="button" (click)="challengeTypeModalIsOpen.set(true)">
      <div
        class="flex w-full cursor-pointer items-center rounded border border-field-border bg-field-background px-3 py-2 text-sm text-field-color shadow-sm focus:border-2 focus:border-primary-500 focus:outline-none">
        <img [src]="'images/challenge/' + challengeTypeActive().icon + '.png'" alt="" class="mr-2 h-5 w-5" />
        <span class="text-sm text-on-surface">{{ challengeTypeActive().label }}</span>
        <svg class="ml-auto h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
          <path
            fill-rule="evenodd"
            d="M10.53 3.47a.75.75 0 0 0-1.06 0L6.22 6.72a.75.75 0 0 0 1.06 1.06L10 5.06l2.72 2.72a.75.75 0 1 0 1.06-1.06l-3.25-3.25Zm-4.31 9.81 3.25 3.25a.75.75 0 0 0 1.06 0l3.25-3.25a.75.75 0 1 0-1.06-1.06L10 14.94l-2.72-2.72a.75.75 0 0 0-1.06 1.06Z"
            clip-rule="evenodd" />
        </svg>
      </div>
    </button>
  </div>

  <fv-text-area name="rules" label="Regole"></fv-text-area>

  <fv-field name="points" label="Punti" type="number"></fv-field>

  <fv-field
    name="complexity"
    label="Complessità (da 1.0 a 5.0)"
    type="number"
    [min]="1"
    [max]="5"
    [step]="'.1'"></fv-field>

  <div class="mt-12 flex gap-2">
    <fv-button
      class="flex-1"
      type="submit"
      [label]="challengeId() ? 'Aggiorna' : 'Salva'"
      [disabled]="challengeForm.invalid"></fv-button>
    @if (challengeId(); as challengeId) {
      <button
        type="button"
        class="rounded border border-rose-800 px-2 text-rose-800 hover:bg-rose-900/25 active:bg-rose-900/50"
        (click)="deleteChallenge(challengeId)">
        <fa-icon [icon]="ICON_TRASH"></fa-icon>
      </button>
    }
  </div>
</form>

<!-- Seleziona tipo della sfida -->
@if (challengeTypeModalIsOpen()) {
  <div
    data-dialog-backdrop="sign-in-modal"
    data-dialog-backdrop-close="true"
    class="pointer-events-none fixed inset-0 z-[999] grid h-screen w-screen place-items-center bg-black bg-opacity-60 opacity-0 backdrop-blur-sm"
    [ngClass]="{ 'opacity-100 pointer-events-auto': challengeTypeModalIsOpen() }"
    [tabindex]="-1"
    (keydown)="(undefined)"
    (click)="onCloseModal($event)">
    <div data-dialog="sign-in-modal" class="relative mx-auto w-4/5 max-w-[40rem] overflow-hidden rounded-lg shadow-sm">
      <div class="flex flex-col gap-4 bg-surface p-4">
        <h3 class="mb-4 text-center text-lg font-semibold text-on-surface">Seleziona tipo</h3>
        <ul class="grid grid-cols-[repeat(auto-fill,minmax(8rem,1fr))] gap-4 text-on-surface">
          @for (option of OPTIONS; track $index) {
            <li
              class="cursor-pointer rounded p-2 shadow hover:bg-neutral-800"
              [ngClass]="option.icon === challengeTypeActive().icon ? 'bg-primary-500/30' : 'bg-surface'">
              <button class="flex w-full flex-col items-center gap-2" (click)="onSelectType(option.icon)">
                <img class="h-12 w-12" [src]="'images/challenge/' + option.icon + '.png'" alt="" />
                <span>{{ option.label }}</span>
              </button>
            </li>
          }
        </ul>
      </div>
    </div>
  </div>
}
