<div class="mb-6 flex flex-col gap-4 text-on-background">
  <nav>
    <ol class="flex gap-2 text-xs text-primary-200">
      <li>
        <a class="text-primary-500" [routerLink]="['']"><fa-icon [icon]="ICON_HOME"></fa-icon></a>
      </li>
      @for (item of pages(); track $index) {
        <li><fa-icon [icon]="ICON_RIGHT"></fa-icon></li>
        @if (!$last) {
          <li class="font-medium">
            <a [routerLink]="[item.path]">{{ item.label }}</a>
          </li>
        } @else {
          <li class="font-medium text-primary-400">{{ item.label }}</li>
        }
      }
    </ol>
  </nav>
  <h1 class="text-3xl font-bold text-primary-500">{{ pages()[pages().length - 1].label }}</h1>
</div>
