<app-title
  [pages]="[
    { path: '../../../../events', label: 'Eventi' },
    { path: '../../' + teamId(), label: 'Squadra' },
    { path: '', label: 'Compagno' }
  ]">
</app-title>

<div class="mb-8 flex flex-col gap-1 text-center text-on-background">
  <h3 class="flex items-center justify-center gap-4">
    <span class="text-3xl font-semibold text-white">
      {{ teammate()?.props?.name }} {{ teammate()?.props?.lastName }}
    </span>
  </h3>
  <p class="text-sm">{{ teammate()?.props?.userName }}</p>
</div>

<ul class="grid grid-cols-[repeat(auto-fill,minmax(6rem,1fr))] gap-4">
  @for (challenge of mergedChallenges(); track challenge.eventChallenge.id) {
    <li class="relative rounded-xl bg-neutral-800 text-on-surface shadow">
      <button
        class="flex h-full w-full flex-col items-center gap-2 rounded-xl p-1"
        [disabled]="challenge.eventChallenge.props.status === ChallengeStatus.LOCKED"
        (click)="onGoToChallenge(challenge.eventChallenge.props.challengeId)">
        <div class="w-full rounded-lg bg-surface p-2">
          <img
            class="mx-auto h-16 w-16"
            [src]="'images/challenge/' + challenge.eventChallenge.props.challengeType + '.png'"
            [alt]="'Immagine ' + challenge.eventChallenge.props.challengeName" />
        </div>
        <div class="flex w-full flex-col gap-1 px-1 text-center">
          <p class="truncate text-xxs text-on-surface">{{ challenge.eventChallenge.props.challengeName }}</p>
          <p class="truncate text-sm font-semibold text-white">
            <span>
              {{
                challenge.teamUser?.challenges ?? [] | getUserTotalPoints: challenge.eventChallenge.props.challengeId
              }}
            </span>
            <span class="text-[8px]">pt</span>
          </p>
        </div>
      </button>
      <fv-challenge-status [type]="'effect'" [status]="challenge.eventChallenge.props.status"></fv-challenge-status>
    </li>
  }
</ul>
