<app-title
  [pages]="[
    { path: '../../../events', label: 'Eventi' },
    { path: '', label: 'Squadre' }
  ]">
</app-title>

<ul class="mt-8 flex flex-col divide-y divide-primary-500">
  @for (team of teams(); track team.id) {
    <li
      class="flex flex-col py-4 text-base"
      [ngClass]="{ 'rounded bg-primary-100/50 p-2': teamSelected()?.id === team.id }">
      <button
        class="flex items-center justify-between gap-4"
        [ngClass]="{ 'rounded -mt-2 bg-primary-100 p-2': teamSelected()?.id === team.id }"
        (click)="onSelectTeam(team)">
        <div class="flex flex-1 items-center gap-2 overflow-hidden">
          <p class="truncate text-start text-xl font-semibold">{{ team.props.name }}</p>
          @switch (team.props.status) {
            @case (TEAM_STATUS.SUSPENDED) {
              <p class="rounded-full bg-orange-500/50 px-2 py-[2px] text-xxs uppercase text-white">Sospesa</p>
            }
            @case (TEAM_STATUS.BANNED) {
              <p class="rounded-full bg-rose-500/50 px-2 py-[2px] text-xxs uppercase text-white">Eliminata</p>
            }
            @default {
              <p class="rounded-full bg-emerald-500/50 px-2 py-[2px] text-xxs uppercase text-white">Attiva</p>
            }
          }
        </div>
        <p class="shrink-0 text-xl">{{ team.props.totalPoints }}<span class="text-xxs text-primary-400"> pt</span></p>
      </button>
      @if (teamSelected()?.id === team.id) {
        <div class="flex flex-col gap-4">
          <div class="mt-2 flex flex-col gap-2 rounded bg-primary-100/50 p-2 shadow-inner">
            <div class="flex items-center gap-1">
              <span class="basis-28 text-xs font-semibold uppercase">Bonus</span>
              <input
                class="h-6 w-16 flex-1 rounded border border-on-surface bg-surface px-2 py-1 text-sm text-on-surface outline-none"
                type="number"
                [(ngModel)]="bonusPoints"
                [min]="0" />
              <button
                class="h-6 w-[3.25rem] rounded bg-primary-300 p-2 text-white flex-center hover:bg-primary-400 active:bg-primary-500"
                (click)="updateTeamBonusPoints(team)">
                <fa-icon class="text-sm" [icon]="ICON_REFRESH"></fa-icon>
              </button>
            </div>
            <div class="flex items-center gap-1">
              <span class="basis-28 text-xs font-semibold uppercase">Aggiornamento</span>
              <input
                class="h-6 w-16 flex-1 rounded border border-on-surface bg-surface px-2 py-1 text-sm text-on-surface outline-none"
                type="number"
                [(ngModel)]="updatePoints"
                [min]="0" />
              <button
                class="h-6 w-6 rounded bg-emerald-500 p-2 text-white flex-center hover:bg-emerald-600 active:bg-emerald-700"
                (click)="updateTeamPoints('ADD', team)">
                +
              </button>
              <button
                class="h-6 w-6 rounded bg-rose-600 p-2 text-white flex-center hover:bg-rose-700 active:bg-rose-800"
                (click)="updateTeamPoints('REMOVE', team)">
                -
              </button>
            </div>
            <div class="flex items-center gap-1">
              <span class="basis-28 text-xs font-semibold uppercase">Stato</span>
              <select
                class="h-6 flex-1 rounded border border-on-surface bg-surface text-sm text-on-surface outline-none"
                [(ngModel)]="team.props.status"
                (change)="updateTeamStatus($event, team)">
                @for (teamStatus of OPTIONS; track $index) {
                  <option [value]="teamStatus.value">{{ teamStatus.label }}</option>
                }
              </select>
            </div>
          </div>

          <div class="flex flex-col">
            <h3 class="text-sm font-semibold underline">Partecipanti</h3>
            <ul>
              @for (user of team.props.users; track user.id) {
                <li>
                  {{ user.userName }}
                  <span class="text-xs text-primary-300">{{ user.registeredAt?.toLocaleDateString() }}</span>
                </li>
              }
            </ul>
          </div>
        </div>
      }
    </li>
  }
</ul>
