<app-title
  [pages]="[
    { path: '../../../events', label: 'Eventi' },
    { path: '', label: 'Squadre' }
  ]">
</app-title>

<ul class="mt-8 flex flex-col divide-y divide-gray-800">
  @for (team of teams(); track team.id) {
    <li class="flex flex-col py-4 text-base">
      <button class="flex items-center justify-between gap-4" (click)="onSelectTeam(team)">
        <div class="flex flex-1 items-center gap-1 overflow-hidden">
          <p class="truncate text-start text-base font-semibold">{{ team.props.name }}</p>
          @switch (team.props.status) {
            @case (TEAM_STATUS.SUSPENDED) {
              <p class="rounded-full bg-orange-500/50 px-2 py-[2px] text-xxs uppercase">Sospesa</p>
            }
            @case (TEAM_STATUS.BANNED) {
              <p class="rounded-full bg-rose-500/50 px-2 py-[2px] text-xxs uppercase">Eliminata</p>
            }
            @default {
              <p class="rounded-full bg-emerald-500/50 px-2 py-[2px] text-xxs uppercase">Attiva</p>
            }
          }
        </div>
        <p class="shrink-0 text-xl">{{ team.props.totalPoints }}<span class="text-xxs text-gray-300"> pt</span></p>
      </button>
      @if (teamSelected()?.id === team.id) {
        <div class="mt-2 flex h-6 flex-wrap items-center gap-x-4 gap-y-1">
          <div class="flex h-full flex-1 gap-1">
            <input
              type="number"
              [(ngModel)]="pointsToUpdate"
              [min]="0"
              class="h-full w-16 flex-1 rounded border border-gray-400 px-2 py-1 text-sm text-gray-400 outline-none" />
            <button
              class="h-full w-6 rounded bg-emerald-500 p-2 text-white flex-center hover:bg-emerald-600 active:bg-emerald-700"
              (click)="updateTeamPoints('ADD', team)">
              +
            </button>
            <button
              class="h-full w-6 rounded bg-rose-500 p-2 text-white flex-center hover:bg-rose-600 active:bg-rose-700"
              (click)="updateTeamPoints('REMOVE', team)">
              -
            </button>
          </div>
          <select
            class="h-full flex-1 basis-1/2 rounded border border-gray-500 text-sm text-gray-500 outline-none"
            [(ngModel)]="team.props.status"
            (change)="updateTeamStatus($event, team)">
            @for (teamStatus of OPTIONS; track $index) {
              <option [value]="teamStatus.value">{{ teamStatus.label }}</option>
            }
          </select>
        </div>
      }
    </li>
  }
</ul>
