<app-title [pages]="[{ path: '', label: 'Eventi' }]"></app-title>

<swiper-container space-between="16" slides-per-view="auto" (swiperslidechange)="onSlideChange($event)">
  @for (event of events(); track event.id) {
    <swiper-slide class="w-4/5 text-on-surface">
      <div
        class="flex cursor-pointer flex-col gap-4 overflow-hidden rounded-lg border border-card-border bg-card-background shadow backdrop-blur">
        <img class="aspect-video w-full text-white" [src]="event.props.imageUrl" alt="Immagine evento" />
        <div class="flex flex-col gap-2 p-2">
          <p class="truncate text-xl font-bold">{{ event.props.name }}</p>
          <p class="flex gap-2 text-xxs text-neutral-400">
            <fa-icon [icon]="ICON_CALENDAR"></fa-icon>
            <span>{{ event.props.startDate | date: 'dd/MM/yyyy HH:mm' }}</span>
            <span>{{ event.props.endDate | date: 'dd/MM/yyyy HH:mm' }}</span>
          </p>
          <p class="line-clamp-3 text-sm italic">{{ event.props.description }}</p>
        </div>
      </div>
    </swiper-slide>
  }
</swiper-container>

<div class="mt-8 overflow-hidden">
  @if (eventSelected()?.id | check_exist_team: eventTeamUsers(); as eventTeamUser) {
    <div class="flex flex-col gap-1 rounded-lg border border-yellow-400/50 bg-yellow-400/25 p-2">
      <p class="text-xxs uppercase">Squadra</p>
      <div class="flex items-end overflow-hidden">
        <p class="flex flex-1 gap-2 truncate text-xl leading-6">
          @if (firebaseService.userFirebase()?.uid === eventTeamUser.props.teamLeaderId) {
            <fa-icon [icon]="ICON_CROWN"></fa-icon>
          }
          <span> {{ eventTeamUser.props.teamName }} </span>
        </p>
        <fv-button
          label="Visualizza squadra"
          twColor="amber"
          [onClick]="goToTeam.bind(this, eventTeamUser.props.eventId, eventTeamUser.props.teamId)">
        </fv-button>
      </div>
    </div>
  } @else {
    <div class="flex flex-col gap-1 rounded-lg border border-card-border bg-card-background p-2">
      <p class="flex gap-2 text-xxs uppercase">
        <span>Squadra</span>
      </p>
      <div class="flex items-end gap-2 overflow-hidden">
        <p class="basis-4/6 truncate">Nessuna squadra</p>
        <fv-button class="flex-1 basis-1/6" label="Crea" [onClick]="openNewTeamModal.bind(this)"></fv-button>
        <fv-button-outlined
          class="flex-1 basis-1/6"
          label="Trova"
          twColor="secondary"
          [onClick]="openFindTeamModal.bind(this)"></fv-button-outlined>
      </div>
    </div>
  }
</div>

<div class="-mx-4 -mb-4 mt-8 overflow-hidden rounded-t-3xl bg-surface p-2 text-on-surface shadow">
  <h2 class="p-2">Sfide</h2>
  <ul class="flex flex-col divide-y divide-neutral-800">
    @if (eventSelected()?.id | check_exist_challenges: eventChallengeMap(); as challenges) {
      @for (challenge of challenges; track challenge.id) {
        <li class="flex cursor-pointer items-center gap-4 p-2 py-4 hover:bg-neutral-950 active:bg-black">
          <img class="h-4 w-4" [src]="'images/challenge/' + challenge.props.type + '.png'" alt="" />
          <p class="truncate text-sm">{{ challenge.props.name }}</p>
          <fv-rating [rating]="challenge.props.complexity"></fv-rating>
        </li>
      }
    }
  </ul>
</div>

<!-- Crea squadra -->
@if (newTeamModalIsOpen()) {
  <div
    data-dialog-backdrop="sign-in-modal"
    data-dialog-backdrop-close="true"
    class="pointer-events-none fixed inset-0 z-[999] grid h-screen w-screen place-items-center bg-black bg-opacity-60 opacity-0 backdrop-blur-sm"
    [ngClass]="{ 'opacity-100 pointer-events-auto': newTeamModalIsOpen() }"
    [tabindex]="-1"
    (keydown)="(undefined)"
    (click)="onBackdropClick($event)">
    <div
      data-dialog="sign-in-modal"
      class="relative mx-auto w-4/5 max-w-[24rem] overflow-hidden rounded-lg border border-white/15 bg-white/15 p-2 shadow backdrop-blur">
      <div class="flex flex-col gap-2">
        <h3 class="mb-4 text-center text-lg font-semibold text-white">Crea squadra</h3>
        <form
          [formGroup]="newTeamForm"
          (ngSubmit)="addTeam()"
          class="flex w-full max-w-2xl flex-col justify-between gap-2">
          <fv-field-icon name="name" label="Nome squadra" [icon]="ICON_TEAM"></fv-field-icon>
          <fv-button type="submit" label="Crea" [disabled]="newTeamForm.invalid"></fv-button>
        </form>
      </div>
    </div>
  </div>
}

<!-- Cerca squadra -->
@if (findTeamModalIsOpen()) {
  <div
    data-dialog-backdrop="sign-in-modal"
    data-dialog-backdrop-close="true"
    class="pointer-events-none fixed inset-0 z-[999] grid h-screen w-screen place-items-center bg-black bg-opacity-60 opacity-0 backdrop-blur-sm"
    [ngClass]="{ 'opacity-100 pointer-events-auto': findTeamModalIsOpen() }"
    [tabindex]="-1"
    aria-hidden="true"
    (click)="onBackdropClick($event)">
    <div
      data-dialog="sign-in-modal"
      class="relative mx-auto w-4/5 max-w-[24rem] overflow-hidden rounded-lg border border-white/15 bg-white/15 p-2 shadow backdrop-blur">
      <div class="flex flex-col gap-2">
        <h3 class="mb-4 text-center text-lg font-semibold text-white">Cerca squadra</h3>
        <form
          [formGroup]="findTeamForm"
          (ngSubmit)="findTeam()"
          class="flex w-full max-w-2xl flex-col justify-between gap-2">
          <fv-field-icon name="code" label="Codice squadra" twColor="secondary" [icon]="ICON_TEAM"></fv-field-icon>
          <fv-button type="submit" label="Cerca" twColor="secondary" [disabled]="findTeamForm.invalid"></fv-button>
        </form>
      </div>
    </div>
  </div>
}
