<app-title [pages]="[{ path: '', label: 'Eventi' }]"></app-title>

<ul class="flex flex-col gap-6 overflow-hidden">
  @for (item of mergedEvents(); track item.event.id) {
    <li class="relative overflow-hidden rounded-lg shadow">
      <img class="aspect-video w-full" [src]="item.event.props.imageUrl" alt="Immagine evento" />
      <div class="h-16 w-full"></div>
      <div class="absolute inset-0 flex h-full w-full bg-gradient-to-b from-transparent from-30% to-black to-70%"></div>
      <div class="absolute inset-0 flex h-full w-full flex-col gap-2 p-2">
        <div
          class="ml-auto flex h-12 w-12 flex-col items-center justify-center rounded bg-white/80 text-black shadow-md backdrop-blur">
          <p class="text-lg font-bold">{{ item.event.props.startDate | date: 'dd' }}</p>
          <p class="text-xs uppercase text-gray-700">
            {{ (item.event.props.startDate | date: 'MMMM')!.substring(0, 3) }}
          </p>
        </div>
        <div class="mt-auto flex flex-col overflow-hidden rounded-lg border border-black/50 p-2 shadow backdrop-blur">
          <p class="truncate text-xxs text-gray-400">{{ item.event.props.location }}</p>
          <p class="mb-2 truncate text-xl font-bold text-on-background">{{ item.event.props.name }}</p>
          @if (item.eventTeamUser) {
            <fv-button-outlined
              class="flex-1"
              label="Visualizza squadra"
              twColor="amber"
              [onClick]="onGoToTeam.bind(this, item.eventTeamUser.props.eventId, item.eventTeamUser.props.teamId)">
            </fv-button-outlined>
          } @else {
            <div class="flex gap-2">
              <fv-button class="flex-1" label="Crea" [onClick]="openNewTeamModal.bind(this, item.event.id)"></fv-button>
              <fv-button-outlined
                class="flex-1"
                label="Trova"
                [onClick]="openFindTeamModal.bind(this, item.event.id)"></fv-button-outlined>
            </div>
          }
        </div>
      </div>
    </li>
  }
</ul>

<!-- Crea squadra -->
@if (newTeamModalIsOpen()) {
  <div
    data-dialog-backdrop="sign-in-modal"
    data-dialog-backdrop-close="true"
    class="pointer-events-none fixed inset-0 z-[999] grid h-screen w-screen place-items-center bg-black bg-opacity-60 opacity-0 backdrop-blur-sm"
    [ngClass]="{ 'opacity-100 pointer-events-auto': newTeamModalIsOpen() }"
    [tabindex]="-1"
    (keydown)="(undefined)"
    (click)="onBackdropClick($event)">
    <div
      data-dialog="sign-in-modal"
      class="relative mx-auto w-4/5 max-w-[24rem] overflow-hidden rounded-lg border border-white/15 bg-white/15 p-2 shadow backdrop-blur">
      <div class="flex flex-col gap-2">
        <h3 class="mb-4 text-center text-lg font-semibold text-white">Crea squadra</h3>
        <form
          [formGroup]="newTeamForm"
          (ngSubmit)="addTeam()"
          class="flex w-full max-w-2xl flex-col justify-between gap-2">
          <fv-field-icon name="name" label="Nome squadra" [icon]="ICON_TEAM"></fv-field-icon>
          <fv-button type="submit" label="Crea" [disabled]="newTeamForm.invalid"></fv-button>
        </form>
      </div>
    </div>
  </div>
}

<!-- Cerca squadra -->
@if (findTeamModalIsOpen()) {
  <div
    data-dialog-backdrop="sign-in-modal"
    data-dialog-backdrop-close="true"
    class="pointer-events-none fixed inset-0 z-[999] grid h-screen w-screen place-items-center bg-black bg-opacity-60 opacity-0 backdrop-blur-sm"
    [ngClass]="{ 'opacity-100 pointer-events-auto': findTeamModalIsOpen() }"
    [tabindex]="-1"
    aria-hidden="true"
    (click)="onBackdropClick($event)">
    <div
      data-dialog="sign-in-modal"
      class="relative mx-auto w-4/5 max-w-[24rem] overflow-hidden rounded-lg border border-white/15 bg-white/15 p-2 shadow backdrop-blur">
      <div class="flex flex-col gap-2">
        <h3 class="mb-4 text-center text-lg font-semibold text-white">Cerca squadra</h3>
        <form
          [formGroup]="findTeamForm"
          (ngSubmit)="findTeam()"
          class="flex w-full max-w-2xl flex-col justify-between gap-2">
          <fv-field-icon name="code" label="Codice squadra" twColor="secondary" [icon]="ICON_TEAM"></fv-field-icon>
          <fv-button type="submit" label="Cerca" twColor="secondary" [disabled]="findTeamForm.invalid"></fv-button>
        </form>
      </div>
    </div>
  </div>
}
