<h1 class="mb-8 text-3xl font-bold text-on-background">Eventi</h1>

<ul class="flex flex-col gap-4">
  @for (event of events(); track event.id) {
    @if (event.id === eventIdSelected()) {
      <li class="flex flex-col gap-8 overflow-hidden rounded bg-surface shadow">
        <div class="relative">
          <img class="aspect-video h-auto w-full" [src]="event.props.imageUrl" alt="Immagine evento" />
          <div
            class="absolute inset-0 flex flex-col items-center justify-end gap-1 overflow-hidden rounded bg-gradient-to-b from-transparent to-surface p-4 pb-0 text-white">
            <p class="text-center text-2xl font-bold">{{ event.props.name }}</p>
            <p class="line-clamp-3 overflow-hidden text-ellipsis text-center text-sm italic text-gray-100">
              {{ event.props.description }}
            </p>
            <p class="rounded-full bg-primary-500 px-1 text-xs">
              Sfide: <span class="font-bold">{{ event.props.eventChallengeRefs.length }}</span>
            </p>
            <div class="flex flex-col items-center">
              <p class="text-xs font-medium text-gray-300">{{ event.props.location }}</p>
              <p class="text-xxs text-gray-300/70">
                ({{ event.props.startDate | date: 'dd/MM HH:mm' }} - {{ event.props.endDate | date: 'dd/MM HH:mm' }})
              </p>
            </div>
          </div>
        </div>
        <div class="flex h-20 flex-col justify-end gap-2 p-4">
          @if (eventIdSelected() | check_exist_team: userEventTeams(); as userGame) {
            <div>
              <p class="text-center text-xxs uppercase text-amber-300/50">
                Squadra
                @if (firebaseService.userFirebase()?.uid === userGame.props.leaderId) {
                  <fa-icon [icon]="ICON_CROWN"></fa-icon>
                }
              </p>
              <p class="text-center text-xl font-semibold text-amber-300">
                {{ userGame.props.teamName }}
              </p>
            </div>
            <fv-button
              label="Visualizza squadra"
              twColor="amber"
              [onClick]="goToTeam.bind(this, userGame.props.eventId, userGame.props.teamId)"></fv-button>
          } @else {
            <fv-button label="Crea squadra" twColor="primary" [onClick]="openNewTeamModal.bind(this)"></fv-button>
            <fv-button label="Trova squadra" twColor="secondary" [onClick]="openFindTeamModal.bind(this)"></fv-button>
          }
        </div>
      </li>
    } @else {
      <li
        class="transform cursor-pointer overflow-hidden rounded bg-surface text-on-surface shadow hover:bg-neutral-800"
        [tabindex]="0"
        (click)="eventIdSelected.set(event.id)"
        (keydown)="eventIdSelected.set(event.id)">
        <div class="relative p-2">
          <div class="flex items-center justify-between">
            <div>
              <p class="text-base font-semibold text-white">{{ event.props.name }}</p>
              <p class="text-xs">{{ event.props.location }}</p>
            </div>
            <div class="text-lg font-bold">
              <p>{{ event.props.startDate | date: 'dd/MM' }}</p>
            </div>
          </div>
        </div>
      </li>
    }
  }
</ul>

<!-- Crea squadra -->
@if (newTeamModalIsOpen()) {
  <div
    data-dialog-backdrop="sign-in-modal"
    data-dialog-backdrop-close="true"
    class="pointer-events-none fixed inset-0 z-[999] grid h-screen w-screen place-items-center bg-black bg-opacity-60 opacity-0 backdrop-blur-sm"
    [ngClass]="{ 'opacity-100 pointer-events-auto': newTeamModalIsOpen() }"
    [tabindex]="-1"
    (keydown)="(undefined)"
    (click)="onBackdropClick($event)">
    <div
      data-dialog="sign-in-modal"
      class="relative mx-auto w-4/5 max-w-[24rem] overflow-hidden rounded-lg border border-white/15 bg-white/15 p-2 shadow backdrop-blur">
      <div class="flex flex-col gap-2">
        <h3 class="mb-4 text-center text-lg font-semibold text-white">Crea squadra</h3>
        <form
          [formGroup]="newTeamForm"
          (ngSubmit)="addTeam()"
          class="flex w-full max-w-2xl flex-col justify-between gap-2">
          <fv-field-icon name="name" label="Nome squadra" [icon]="ICON_TEAM"></fv-field-icon>
          <fv-button type="submit" label="Crea" twColor="primary" [disabled]="newTeamForm.invalid"></fv-button>
        </form>
      </div>
    </div>
  </div>
}

<!-- Cerca squadra -->
@if (findTeamModalIsOpen()) {
  <div
    data-dialog-backdrop="sign-in-modal"
    data-dialog-backdrop-close="true"
    class="pointer-events-none fixed inset-0 z-[999] grid h-screen w-screen place-items-center bg-black bg-opacity-60 opacity-0 backdrop-blur-sm"
    [ngClass]="{ 'opacity-100 pointer-events-auto': findTeamModalIsOpen() }"
    [tabindex]="-1"
    aria-hidden="true"
    (click)="onBackdropClick($event)">
    <div
      data-dialog="sign-in-modal"
      class="relative mx-auto w-4/5 max-w-[24rem] overflow-hidden rounded-lg border border-white/15 bg-white/15 p-2 shadow backdrop-blur">
      <div class="flex flex-col gap-2">
        <h3 class="mb-4 text-center text-lg font-semibold text-white">Cerca squadra</h3>
        <form
          [formGroup]="findTeamForm"
          (ngSubmit)="findTeam()"
          class="flex w-full max-w-2xl flex-col justify-between gap-2">
          <fv-field-icon
            class="focus:[&_input]:border-secondary-500 focus:[&_input]:text-secondary-200 focus:[&_input]:caret-secondary-500"
            name="code"
            label="Codice squadra"
            [icon]="ICON_TEAM"></fv-field-icon>
          <fv-button type="submit" label="Cerca" twColor="primary" [disabled]="findTeamForm.invalid"></fv-button>
        </form>
      </div>
    </div>
  </div>
}
