<app-title [pages]="[{ path: '', label: 'Sfida' }]"></app-title>

@if (challenge(); as challenge) {
  @if (eventChallenge(); as eventChallenge) {
    <div class="flex flex-col gap-8 rounded-lg bg-surface p-6 text-on-surface shadow-lg">
      <div class="flex items-center justify-between gap-4">
        <h1 class="text-center text-2xl font-bold text-on-background">{{ challenge.props.name }}</h1>
        <img
          class="h-28 w-28 rounded-lg shadow-md"
          [src]="'images/challenge/' + challenge.props.type + '.png'"
          alt="Icona sfida" />
      </div>

      <div class="flex flex-col items-center gap-2">
        <p
          class="flex h-24 w-24 items-center justify-center rounded-full border-4 border-purple-500/75 bg-primary-500/25 text-center shadow-md">
          <span class="text-[60px] font-extrabold text-purple-500">{{ challenge.props.points }}</span>
          <span class="text-xs font-semibold text-gray-500">pt</span>
        </p>
        <fv-rating [rating]="challenge.props.complexity"></fv-rating>
      </div>

      <!-- Info su  eventChallenge-->
      <div
        class="flex h-20 justify-center divide-x divide-neutral-700 rounded-xl bg-neutral-800 py-2 text-on-surface shadow">
        <div class="flex flex-1 flex-col gap-1 px-2">
          <p class="rounded bg-neutral-700 p-1 text-center text-xxs uppercase text-on-background">Orario inizio</p>
          <fv-countdown class="flex-1 flex-center" [date]="eventChallenge.props.startDate"></fv-countdown>
        </div>
        <div class="flex flex-1 flex-col gap-1 px-2">
          <p class="rounded bg-neutral-700 p-1 text-center text-xxs uppercase text-on-background">N° massimo</p>
          @if (eventChallenge.props.maxTimes; as maxTimes) {
            <p class="flex-1 flex-center">{{ eventChallenge.props.maxTimes }}</p>
          } @else {
            <fa-icon class="flex-1 flex-center" [icon]="ICON_INFINITY"></fa-icon>
          }
        </div>
        <div class="flex flex-1 flex-col gap-1 px-2">
          <p class="rounded bg-neutral-700 p-1 text-center text-xxs uppercase text-on-background">Stato</p>
          <fv-challenge-status
            class="flex-1 text-white flex-center"
            [type]="'icon'"
            [challengeStatus]="eventChallenge.props.challengeStatus"></fv-challenge-status>
        </div>
      </div>

      <!-- Sezione Descrizione -->
      <div class="relative -m-2 p-2">
        <h2 class="mb-2 text-xl font-semibold text-on-background">Descrizione</h2>
        <p class="text-lg leading-relaxed text-on-surface">{{ challenge.props.description }}</p>
        <fv-challenge-status
          [type]="'effect'"
          [challengeStatus]="eventChallenge.props.challengeStatus"></fv-challenge-status>
      </div>

      <!-- Sezione Regole -->
      <div class="relative -m-2 p-2">
        <h2 class="mb-2 text-xl font-semibold text-on-background">Regole</h2>
        <p class="whitespace-pre-line leading-relaxed text-on-surface">
          {{ challenge.props.rules }}
        </p>
        <fv-challenge-status
          [type]="'effect'"
          [challengeStatus]="eventChallenge.props.challengeStatus"></fv-challenge-status>
      </div>
    </div>
  }
}
