<app-title [pages]="[{ path: '', label: 'Dashboard' }]"></app-title>

@if (team(); as team) {
  @if (event(); as event) {
    <div class="flex flex-col gap-2 text-primary-500">
      <img
        class="aspect-video w-full rounded-md bg-surface text-on-surface shadow"
        [src]="event.props.imageUrl"
        alt="Immagine evento" />
      <p class="truncate text-2xl font-bold">{{ event.props.name }}</p>
      <p class="flex gap-2 text-xs text-primary-300">
        <fa-icon class="basis-4" [icon]="ICON_PLACE"></fa-icon>
        <span>{{ event.props.location }}</span>
      </p>
      <p class="flex items-center gap-2 text-xs text-primary-300">
        <fa-icon class="basis-4" [icon]="ICON_CALENDAR"></fa-icon>
        <span>{{ event.props.startDate | date: 'dd/MM/yyyy HH:mm' }}</span>
        <span>{{ event.props.endDate | date: 'dd/MM/yyyy HH:mm' }}</span>
      </p>
      <p class="text-md whitespace-pre-line italic">{{ event.props.description }}</p>
    </div>

    @if (event.props.startDate.getTime() > NOW.getTime()) {
      <div class="mt-8 flex flex-col items-center gap-1 py-8">
        <p class="text-xxs uppercase text-primary-400">Tempo mancante</p>
        <fv-countdown class="truncate text-5xl text-primary-500" [date]="event.props.startDate"></fv-countdown>
      </div>
    }

    @if (team.props.status !== TEAM_STATUS.ACTIVE) {
      <div class="mt-8 items-center rounded text-sm font-semibold uppercase">
        @if (team.props.status === TEAM_STATUS.SUSPENDED) {
          <p class="rounded-md border border-orange-500/50 bg-orange-500/25 p-2 text-center">Squadra sospesa</p>
        } @else if (team.props.status === TEAM_STATUS.BANNED) {
          <p class="rounded-md border border-rose-500/50 bg-rose-500/25 p-2 text-center">Squadra eliminata</p>
        }
      </div>
    }

    <h2 class="mt-8 text-xs uppercase text-primary-500">Squadra</h2>
    <div class="mt-1 flex flex-col gap-4 overflow-hidden rounded-md bg-primary-500/50 p-2 text-white shadow-lg">
      <div class="flex gap-4">
        <div class="flex flex-1 flex-col justify-around overflow-hidden">
          <p class="flex gap-2 text-2xl">
            @if (firebaseService.userFirebase()?.uid === team.props.leaderId) {
              <fa-icon [icon]="ICON_CROWN"></fa-icon>
            }
            <span class="truncate">{{ team.props.name }}</span>
          </p>
          <div class="flex items-center gap-2 text-xs leading-4">
            <p class="truncate uppercase">Codice: {{ team.props.code }}</p>
            <button (click)="onCopyCodeToClipboard()">
              <fa-icon [icon]="ICON_SHARE"></fa-icon>
            </button>
          </div>
        </div>
        <p class="text-5xl">{{ team.props.totalPoints }}<span class="text-xs text-secondary-100">pt</span></p>
      </div>
      <div class="flex flex-col gap-1">
        <p class="text-xs">Membri ({{ team.props.userIds.length }}/10)</p>
        <ul class="flex gap-4 overflow-x-auto">
          @for (user of team.props.users; track user.id) {
            <li class="flex shrink-0 basis-12 flex-col items-center gap-1 overflow-hidden">
              <img
                class="aspect-square w-12 rounded-full object-cover shadow"
                [src]="user.imageUrl ?? 'images/profile-user.png'"
                [alt]="'Immagine di ' + user.userName" />
              <p class="w-full truncate text-center text-xxs">{{ user.userName }}</p>
            </li>
          }
        </ul>
      </div>
      <div class="flex gap-2 overflow-hidden">
        <fv-button class="flex-1" label="Visualizza" twColor="secondary" [onClick]="onGoToTeam.bind(this)"></fv-button>
        @if (event.props.startDate.getTime() > NOW.getTime()) {
          <button
            type="button"
            class="rounded bg-secondary-500 px-2 text-primary-500 hover:bg-secondary-600 active:bg-secondary-700"
            (click)="deleteTeam(event.props.startDate)">
            <fa-icon [icon]="ICON_TRASH"></fa-icon>
          </button>
        }
      </div>
    </div>

    <h2 class="mt-8 text-xs uppercase text-secondary-700">Sfide</h2>
    <div class="mt-1 overflow-hidden rounded-md bg-primary-200/50 px-2 text-on-surface shadow-lg backdrop-blur">
      @if (team.props.status === TEAM_STATUS.ACTIVE) {
        @if (mergedChallenges().length) {
          <ul class="flex flex-col divide-y text-primary-500">
            @for (challenge of mergedChallenges(); track challenge.id) {
              <li class="py-2">
                <button
                  class="relative flex w-full flex-col gap-1 rounded-md p-2 hover:bg-secondary-400 active:rounded-md active:bg-secondary-500"
                  (click)="onGoToChallenge(challenge.id)">
                  <div class="flex w-full items-center gap-4">
                    <img class="h-8 w-8" [src]="'images/challenge/' + challenge.type + '.png'" alt="" />
                    <p class="truncate text-base text-on-surface">{{ challenge.name }}</p>
                    <fv-rating [rating]="challenge.complexity"></fv-rating>
                  </div>
                  <p class="w-full truncate text-start text-xs text-primary-400">{{ challenge.description }}</p>
                  <fv-challenge-status
                    class="absolute left-0 top-0 h-full w-full"
                    type="effect"
                    [status]="challenge.status"
                    [startDate]="challenge.startDate"
                    [detail]="true"></fv-challenge-status>
                </button>
              </li>
            }
          </ul>
        } @else {
          <p class="p-4 text-center text-xxs uppercase">
            Nessuna sfida disponibile al momento. Resta aggiornato per non perdere le prossime opportunità
          </p>
        }
      } @else {
        <p class="p-4 text-center text-xxs uppercase">Squadra non attiva, parlare con gli admin</p>
      }
    </div>
  }
}

@if (team() === null) {
  <div class="mt-40 p-8 flex-center">
    <div class="flex flex-col rounded-lg bg-surface p-4 text-on-surface shadow-lg backdrop-blur">
      <h2 class="mb-4 text-lg font-bold">Nessuna squadra trovata</h2>
      <p class="text-sm">
        Al momento non sei associato a nessuna squadra. Unisciti a noi per partecipare a eventi emozionanti e vivere
        nuove esperienze!
      </p>
      <p class="mt-2 text-sm">Crea una squadra o unisciti a una già esistente per iniziare la tua avventura!</p>
    </div>
  </div>
}
