<h1 class="text-3xl font-bold text-on-background">Profilo</h1>

<div class="flex flex-col items-center gap-4 text-on-background">
  <div
    class="h-28 w-28 rounded-full border-2 border-on-background bg-on-background object-cover object-center shadow-md">
    <img [src]="user()?.props?.imageUrl ?? '/images/profile-user.png'" alt="Immagine user" />
  </div>
  <p>{{ user()?.props?.name }} {{ user()?.props?.lastname }}</p>
</div>

<ul class="m-auto flex h-fit w-full flex-col divide-y divide-slate-700 rounded-lg bg-surface p-4 text-on-surface">
  <li class="pb-4 hover:text-gray-400">
    <a [routerLink]="'/user/settings/profile'" class="flex gap-4">
      <fa-icon class="" [icon]="ICON_USER"></fa-icon>
      <span class="">Profilo</span>
    </a>
  </li>

  <li class="pt-4 hover:text-gray-400">
    <a [routerLink]="'/login'" class="flex gap-4">
      <fa-icon class="" [icon]="ICON_LOGOUT"></fa-icon>
      <span class="">Logout</span>
    </a>
  </li>
</ul>
