<app-title [pages]="[{ path: '', label: 'Sfide' }]"> </app-title>

<ul class="grid grid-cols-[repeat(auto-fill,minmax(20rem,1fr))] gap-4 text-on-surface">
  @for (challenge of challenges(); track challenge.id) {
    <li class="cursor-pointer rounded border-2 border-neutral-800 bg-surface p-4 shadow hover:bg-neutral-800">
      <button class="flex w-full flex-col gap-2" (click)="updateChallenge(challenge.id)">
        <div class="flex w-full gap-4">
          <img class="h-16 w-16" [src]="'images/challenge/' + challenge.props.type + '.png'" alt="" />
          <div class="flex w-full flex-col overflow-hidden text-start">
            <p class="mb-auto truncate text-lg font-semibold text-on-background">{{ challenge.props.name }}</p>
            <p class="text-xs text-neutral-400">Punteggio: {{ challenge.props.points }}</p>
            <div class="flex gap-2">
              <span class="text-xs text-neutral-400">Difficoltà: </span>
              <fv-rating [rating]="challenge.props.complexity"></fv-rating>
            </div>
          </div>
        </div>
        <div class="text-start">
          <h6 class="text-sm">Descrizione</h6>
          <p class="line-clamp-3 whitespace-pre-line break-all text-xs italic text-neutral-400">
            {{ challenge.props.description }}
          </p>
        </div>
        <div class="text-start">
          <h6 class="text-sm">Regole</h6>
          <p class="line-clamp-3 whitespace-pre-line break-all text-xs italic text-neutral-400">
            {{ challenge.props.rules }}
          </p>
        </div>
      </button>
    </li>
  }
</ul>

<fv-floating-button [execute]="executeFloatingButton.bind(this)"></fv-floating-button>
