@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
  font-weight: 100 900; /* Range di pesi */
  font-style: normal; /* Stile normale */
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf') format('truetype');
  font-weight: 100 900; /* Range di pesi */
  font-style: italic; /* Stile corsivo */
}

html,
body {
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  color-scheme: light;
  background: #f8f8fc;
}

/* Personalizzazione globale della scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #555e68; /* Colore grigio elegante */
  border-radius: 10px;
}
