@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  height: 100%;
}

[role='button'] {
  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.25);
  }

  &:active {
    transform: scale(0.75);
  }
}
