<app-title
  [pages]="[
    { path: '../../../events', label: 'Eventi' },
    { path: '', label: 'Sfide' }
  ]">
</app-title>

<div class="mt-4 w-full overflow-x-hidden rounded text-on-background shadow-md">
  <table class="w-full text-left">
    <thead class="bg-primary text-on-primary uppercase">
      <tr>
        <th scope="col" class="p-2">Sfida</th>
        <th scope="col" class="p-2"><fa-icon [icon]="ICON_STATUS"></fa-icon></th>
        <th scope="col" class="p-2"><fa-icon [icon]="ICON_MAX_TIMES"></fa-icon></th>
        <th scope="col" class="p-2"><fa-icon [icon]="ICON_START"></fa-icon></th>
        <th scope="col" class="p-2"><fa-icon [icon]="ICON_END"></fa-icon></th>
        <th scope="col" class="p-2"></th>
      </tr>
    </thead>
    <tbody class="bg-surface text-xs text-on-surface">
      @for (eventChallenge of eventChallenges(); track eventChallenge.id) {
        <tr class="border-b">
          <td class="p-2">
            <div class="flex items-center gap-2">
              <img
                class="h-6 w-6 rounded-full"
                [src]="'images/challenge/' + eventChallenge.props.challengeType + '.png'"
                alt="Tipo" />
              <p class="line-clamp-3">{{ eventChallenge.props.challengeName }}</p>
            </div>
          </td>
          <td class="p-2">
            <fa-icon [icon]="ICON_STATUS_VALUE[eventChallenge.props.status]"></fa-icon>
          </td>
          <td class="p-2">
            @if (eventChallenge.props.maxTimes; as maxTimes) {
              <p>{{ maxTimes }}</p>
            } @else {
              <fa-icon [icon]="ICON_INFINITE"></fa-icon>
            }
          </td>
          <td class="p-2 text-xxs">
            <div class="flex flex-col gap-1">
              @if (eventChallenge.props.startDate; as startDate) {
                <p class="inline-flex gap-1">
                  <fa-icon [icon]="ICON_CALENDAR"></fa-icon>
                  <span>{{ startDate | date: 'dd/MM' }}</span>
                </p>
                <p class="inline-flex gap-1">
                  <fa-icon [icon]="ICON_CLOCK"> </fa-icon>
                  <span>{{ startDate | date: 'HH:mm' }}</span>
                </p>
              } @else {
                <p>-</p>
              }
            </div>
          </td>
          <td class="p-2 text-xxs">
            <div class="flex flex-col gap-1">
              @if (eventChallenge.props.endDate; as endDate) {
                <p class="inline-flex gap-1">
                  <fa-icon [icon]="ICON_CALENDAR"></fa-icon>
                  <span>{{ endDate | date: 'dd/MM' }}</span>
                </p>
                <p class="inline-flex gap-1">
                  <fa-icon [icon]="ICON_CLOCK"> </fa-icon>
                  <span>{{ endDate | date: 'HH:mm' }}</span>
                </p>
              } @else {
                <p>-</p>
              }
            </div>
          </td>
          <td class="p-2">
            <button
              class="text-primary hover:text-primary-light active:text-primary-dark active:scale-975"
              (click)="goToUpdateEventChallenge(eventChallenge.id)">
              <fa-icon [icon]="ICON_PEN"></fa-icon>
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>

<fv-floating-button [execute]="executeFloatingButton.bind(this)"></fv-floating-button>

<!-- Seleziona tipo della sfida -->
@if (formModalIsOpen()) {
  <div
    data-dialog-backdrop="sign-in-modal"
    data-dialog-backdrop-close="true"
    class="pointer-events-none fixed inset-0 z-[999] grid h-screen w-screen place-items-center bg-black bg-opacity-60 opacity-0 backdrop-blur-sm"
    [ngClass]="{ 'opacity-100 pointer-events-auto': formModalIsOpen() }"
    [tabindex]="-1"
    aria-hidden="true"
    (click)="onBackdropClick($event)">
    <div data-dialog="sign-in-modal" class="relative mx-auto w-4/5 max-w-[40rem] overflow-hidden rounded shadow-sm">
      <div class="flex flex-col gap-2 bg-surface p-4 text-on-background">
        <h3 class="text-on-secondary mb-4 text-center text-lg font-semibold">Sfida</h3>
        <form
          [formGroup]="eventChallengeForm"
          class="flex w-full flex-col gap-6"
          (submit)="addOrUpdateEventChallenge()">
          <!-- Challenge -->
          <fv-select name="challengeId" label="Sfida" [options]="challengesOptions()"></fv-select>

          <!-- Status -->
          <fv-select name="status" label="Stato" [options]="OPTIONS"></fv-select>

          <!-- Max Times -->
          <fv-field name="maxTimes" label="Numero massimo di tentativi" type="number"></fv-field>

          <!-- Start Date -->
          <fv-field name="startDate" label="Data di inizio" type="datetime-local"></fv-field>

          <!-- End Date -->
          <fv-field name="endDate" label="Data di fine" type="datetime-local"></fv-field>

          <fv-button
            class="mt-12"
            type="submit"
            [label]="eventChallengeActive() ? 'Aggiorna' : 'Salva'"
            [disabled]="eventChallengeForm.invalid"></fv-button>
        </form>
      </div>
    </div>
  </div>
}
