<app-title
  [pages]="[
    { path: '../../../events', label: 'Eventi' },
    { path: '', label: 'Sfide' }
  ]">
</app-title>

@if (event(); as event) {
  <ul class="flex flex-col divide-y divide-primary-500">
    @for (item of eventChallenges(); track item.props.challengeId) {
      <li
        class="flex flex-col gap-2 py-6"
        [ngClass]="{ 'bg-rose-500/30 p-2 rounded-lg': item.props.status === CHALLENGE_STATUS.CHALLENGE_DELETED }">
        <div class="flex items-center gap-2">
          <img class="h-12 w-12" [src]="'images/challenge/' + item.props.challengeType + '.png'" alt="Tipo" />
          <p class="flex-1 truncate text-sm">{{ item.props.challengeName }}</p>
          <div class="divide-x divide-primary-500">
            @if (item.props.status !== CHALLENGE_STATUS.CHALLENGE_DELETED) {
              <button
                class="px-2 text-xxs font-semibold uppercase text-primary-500 hover:underline"
                (click)="goToUpdateEventChallenge(item.id)">
                Modifica
              </button>
              @if (event.props.startDate.getTime() > NOW.getTime()) {
                <button
                  class="px-2 text-xxs font-semibold uppercase text-rose-600 hover:text-rose-700 active:text-rose-800"
                  (click)="deleteEventChallenge(item.id, event.props.startDate)">
                  <fa-icon [icon]="ICON_TRASH"></fa-icon>
                </button>
              }
            }
          </div>
        </div>

        <!-- Info su  eventChallenge-->
        <div
          class="flex h-20 divide-x divide-primary-500 overflow-x-auto rounded-lg bg-surface py-2 text-primary-500 shadow">
          <div class="flex min-w-16 shrink-0 basis-1/4 flex-col items-center gap-2 px-2">
            <p class="w-full truncate rounded bg-secondary-500 p-1 text-center text-xxs uppercase">Stato</p>
            <fa-icon class="my-auto" [icon]="ICON_STATUS_VALUE[item.props.status]"></fa-icon>
          </div>
          <div class="flex min-w-16 shrink-0 basis-1/4 flex-col items-center gap-2 px-2">
            <p class="w-full truncate rounded bg-secondary-500 p-1 text-center text-xxs uppercase">Inizio</p>
            @if (item.props.startDate; as startDate) {
              <div class="my-auto flex flex-col gap-1">
                <p class="inline-flex gap-1 text-xxs">
                  <fa-icon [icon]="ICON_CALENDAR"></fa-icon>
                  <span>{{ startDate | date: 'dd/MM' }}</span>
                </p>
                <p class="inline-flex gap-1 text-xxs">
                  <fa-icon [icon]="ICON_CLOCK"> </fa-icon>
                  <span>{{ startDate | date: 'HH:mm' }}</span>
                </p>
              </div>
            } @else {
              <p>-</p>
            }
          </div>
          <div class="flex min-w-16 shrink-0 basis-1/4 flex-col items-center gap-2 px-2">
            <p class="w-full truncate rounded bg-secondary-500 p-1 text-center text-xxs uppercase">Inizio</p>
            @if (item.props.endDate; as endDate) {
              <div class="my-auto flex flex-col gap-1">
                <p class="inline-flex gap-1 text-xxs">
                  <fa-icon [icon]="ICON_CALENDAR"></fa-icon>
                  <span>{{ endDate | date: 'dd/MM' }}</span>
                </p>
                <p class="inline-flex gap-1 text-xxs">
                  <fa-icon [icon]="ICON_CLOCK"> </fa-icon>
                  <span>{{ endDate | date: 'HH:mm' }}</span>
                </p>
              </div>
            } @else {
              <p>-</p>
            }
          </div>
          <div class="flex min-w-16 shrink-0 basis-1/4 flex-col items-center gap-2 px-2">
            <p class="w-full truncate rounded bg-secondary-500 p-1 text-center text-xxs uppercase">N°</p>
            @if (item.props.maxTimes; as maxTimes) {
              <p class="my-auto flex-1 flex-center">{{ maxTimes }}</p>
            } @else {
              <fa-icon class="my-auto flex-1 flex-center" [icon]="ICON_INFINITY"></fa-icon>
            }
          </div>
        </div>
      </li>
    }
  </ul>

  <fv-floating-button [execute]="onExecuteFloatingButton.bind(this)"></fv-floating-button>
}

<!-- Seleziona tipo della sfida -->
@if (formModalIsOpen()) {
  <div
    data-dialog-backdrop="sign-in-modal"
    data-dialog-backdrop-close="true"
    class="pointer-events-none fixed inset-0 z-[999] grid h-screen w-screen place-items-center bg-black bg-opacity-60 opacity-0 backdrop-blur-sm"
    [ngClass]="{ 'opacity-100 pointer-events-auto': formModalIsOpen() }"
    [tabindex]="-1"
    (click)="onCloseModal($event)"
    (keydown)="(undefined)">
    <div data-dialog="sign-in-modal" class="relative mx-auto w-4/5 max-w-[40rem] overflow-hidden rounded shadow-sm">
      <div class="flex flex-col gap-2 bg-surface p-4 text-on-surface">
        <h3 class="text-on-secondary mb-4 text-center text-lg font-semibold">Sfida</h3>
        <form
          [formGroup]="eventChallengeForm"
          class="flex w-full flex-col gap-4"
          (submit)="addOrUpdateEventChallenge()">
          <!-- Challenge -->
          <div class="flex items-end gap-4">
            <fv-select class="flex-1" name="challengeId" label="Sfida" [options]="challengesOptions()"></fv-select>
            @if (!eventChallengeSelected()) {
              <button type="button" class="pb-[6px]" (click)="onRefreshChallenges()">
                <fa-icon [icon]="ICON_REFRESH"></fa-icon>
              </button>
            }
          </div>

          <!-- Status -->
          <fv-select name="status" label="Stato" [options]="OPTIONS"></fv-select>

          <!-- Max Times -->
          <fv-field name="maxTimes" label="Numero massimo di tentativi" type="number" [min]="0"></fv-field>

          <!-- Start Date -->
          <fv-field name="startDate" label="Data di inizio" type="datetime-local"></fv-field>

          <!-- End Date -->
          <fv-field name="endDate" label="Data di fine" type="datetime-local"></fv-field>

          <fv-button
            class="mt-6"
            type="submit"
            twColor="secondary"
            [label]="eventChallengeSelected() ? 'Aggiorna' : 'Salva'"
            [disabled]="eventChallengeForm.invalid"></fv-button>
        </form>
      </div>
    </div>
  </div>
}
